<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

    <title></title>
</head>
<body>
<div class="container">
    <h2>Danh sách lương</h2>
    <hr>
    <p>
        User: <span sec:authentication="principal.username"></span>
        <br><br>
        Role:<span sec:authentication="principal.authorities"></span>
    </p>
    <hr>
    <form action="#" th:action="@{/salaries/viewSalary}" method="GET">
        <input type="month" name = "thangNam" required>
        <button type="submit">Xem lương</button>
    </form>

    <!--Add this script to set the default value for the input field-->
    <script>
        function getPreviousMonth() {
            let now = new Date();
            let month = now.getMonth();
            let year = now.getFullYear();
            if (month == 0) {
                month = 12;
                year -= 1;
            }
            return year + "-" + (month < 10 ? "0" : "") + month;
        }

        document.getElementById('thangNam').value = getPreviousMonth();
    </script>

    <h4 id="salaryMonth">Bảng lương của nhân viên tháng</h4>

    <script>
        function updateSalaryMonth() {
            let thangNam = new URL(window.location.href).searchParams.get('thangNam');
            let month = thangNam.split('-')[1];
            let year = thangNam.split('-')[0];
            document.getElementById('salaryMonth').textContent = 'Bảng lương của nhân viên tháng ' + month + '/' + year;
        }

        window.onload = updateSalaryMonth;
    </script>

    <a th:href="@{/salaries/showFormForAdd(thangNam=${thangNam})}"
       class = "btn btn-primary btn-sm mb-3"
       sec:authorize="hasRole('ADMIN')">
        Thêm
    </a>

    <table class="table table-bordered table-striped">
        <thead class="table table-hover table-success">
        <tr>
            <th>ID</th>
            <th>Họ tên</th>
            <th>Chức vụ</th>
            <th>Lương cơ bản</th>
            <th>Thưởng</th>
            <th>Phụ cấp</th>
            <th>Tổng giờ làm</th>
            <th>Tổng giờ tăng ca</th>
            <th>Lương</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="salary : ${salaries}">
              <td th:text="${salary.employee.id}">
              <td th:text="${salary.employee.hoTen}"></td>
              <td th:text="${salary.employee.position.tenCV}"></td>
              <td th:text="${salary.luongCoBan + ' $/hour'}"></td>
              <td th:text="${salary.thuong}"></td>
              <td th:text="${salary.phuCap}"></td>
              <td th:text="${salary.tongGioLam +' hour'}"></td>
              <td th:text="${salary.tongGioTangCa +' hour'}"></td>
              <td th:text="${'$' + (salary.luongCoBan * (salary.tongGioLam + salary.tongGioTangCa) + salary.thuong + salary.phuCap)}"></td>

            <td>
                <a th:href="@{'/salaries/showFormForUpdate'(maNV=${salary.maNV}, thang=${salary.thang}, nam=${salary.nam})}"
                   class="btn btn-info btn-sm"
                   sec:authorize="hasRole('ADMIN')">
                    Update
                </a>

                <a th:href="@{'/salaries/delete'(maNV=${salary.maNV}, thang=${salary.thang}, nam=${salary.nam})}"
                   class="btn btn-danger btn-sm"
                   onclick="if (!(confirm('Xóa lương này?'))) return false"
                   sec:authorize="hasRole('ADMIN')">
                    Delete
                </a>
            </td>
          </tr>
        </tbody>
    </table>
    <a th:href = "@{/employees/list}">Quay lại</a>
</div>
</body>
</html>