<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- boostrap css -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <title>Chỉnh sửa chức vụ</title>

    <style>
        .error {
            color: red;
        }
    </style>
</head>
<body>
<div class = "container">

    <h3>Thêm chức vụ</h3>
    <hr>
    <form action="#" th:action="@{/positions/save}"
          th:object="${position}" method="POST">
        <input type = "hidden" th:field = "*{maCv}">
        Tên chức vụ
        <input type ="text" th:field = "*{tenCV}"
               class="form-control mb-4 w-50">
        <p class="alert alert-danger" th:if="${#fields.hasErrors('tenCV')}" th:errors="*{tenCV}"></p>

        Mô tả
        <textarea th:field = "*{moTa}"
                  class="form-control mb-4 w-50">
        </textarea>
        <p class="alert alert-danger" th:if="${#fields.hasErrors('moTa')}" th:errors="*{moTa}"></p>


        <button type = "submit" class="btn btn-info col-3">Lưu</button>
    </form>

    <hr>
    <a th:href = "@{/positions/list}">Quay lại</a>
</div>

</body>
</html>