<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Thêm nhân viên mới</title>
</head>
<body>
<div class = "container">

    <h3>Tạo nhân viên mới</h3>
    <hr>
    <form action="#" th:action="@{/employees/save}"
          th:object="${employee}" method="POST">
        <input type = "hidden" th:field = "*{id}">

        Họ và tên:
        <input type = "text" th:field = "*{hoTen}"
               class="form-control mb-4 w-25">
        <p class="alert alert-danger" th:if="${#fields.hasErrors('hoTen')}" th:errors="*{hoTen}"></p>

        <!--<ul>
            <li th:each="error : ${#fields.errors('hoTen')}"
                class="error" th:text="${error}">Error</li>
        </ul>-->
        Ngày sinh:
        <input type="date" th:field = "*{ngaySinh}"
               class="form-control mb-4 w-25">
        <p class="alert alert-danger" th:if="${#fields.hasErrors('ngaySinh')}" th:errors="*{ngaySinh}"></p>

        Giới tính:
        <select th:field="*{gioiTinh}" class="form-select mb-4 w-25">
            <option value="Nam">Nam</option>
            <option value="Nu">Nữ</option>
            <option value="Khac">Khác</option>
        </select>

        Số điện thoại:
        <input type="text" th:field="*{soDienThoai}"
               class="form-control mb-4 w-25">
        <p class="alert alert-danger" th:if="${#fields.hasErrors('soDienThoai')}" th:errors="*{soDienThoai}"></p>

        Email:
        <input type="text" th:field="*{email}"
               class="form-control mb-4 w-25">
        <p class="alert alert-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p>

        Địa Chỉ:
        <input type="text" th:field="*{diaChi}"
               class="form-control mb-4 w-25" >
        <p class="alert alert-danger" th:if="${#fields.hasErrors('diaChi')}" th:errors="*{diaChi}"></p>

        Phòng ban:
        <select th:field ="*{department}" class="form-select mb-4 w-25">
            <option th:each="department : ${departments}"
                    th:value="${department.maPB}"
                    th:text="${department.tenPB}">
            </option>
        </select>
        <p class="alert alert-danger" th:if="${#fields.hasErrors('department')}" th:errors="*{department}"></p>

        Chức vụ:
        <select th:field="*{position}" class="form-select mb-4 w-25">
            <option th:each="position : ${positions}"
                    th:value="${position.maCv}"
                    th:text="${position.tenCV}">
            </option>
        </select>
        <p class="alert alert-danger" th:if="${#fields.hasErrors('position')}" th:errors="*{position}"></p>

        <button type = "submit" class="btn btn-info col-3">Lưu</button>
    </form>

    <hr>
    <a th:href = "@{/employees/list}">Quay lại</a>
</div>

</body>
</html>