<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

    <title>Update</title>

</head>
<body>
<div class="container">
    <h2>Update lịch nghỉ phép</h2>
    <hr>

    <!-- Add leave form -->
    <form th:action="@{/leaves/save}" th:object="${leave}" method="post">

        <input type="hidden" th:field="*{id}" />

        Tên nhân viên
        <div class="form-group">
            <select th:field="*{employee}" class="form-control">
                <option th:each="employee : ${employees}"
                        th:value="${employee.id}"
                        th:text="${employee.hoTen}">
                </option>
            </select>
        </div>

        <div class="form-group">
            <label>Ngày bắt đầu</label>
            <input type="date" th:field="*{ngayBatDau}" class="form-control" required >
        </div>
        <p class="alert alert-danger" th:if="${#fields.hasErrors('ngayBatDau')}" th:errors="*{ngayBatDau}"></p>

        <div class="form-group">
            <label>Ngày kết thúc</label>
            <input type="date" th:field="*{ngayKetThuc}" class="form-control" required>
        </div>
        <p class="alert alert-danger" th:if="${#fields.hasErrors('ngayKetThuc')}" th:errors="*{ngayKetThuc}"></p>

        <div class="form-group">
            <label>Lý do</label>
            <select th:field="*{lyDo}" class="form-control">
                <option value="NghiOm">Nghỉ ốm</option>
                <option value="NghiPhep">Nghỉ phép</option>
                <option value="NghiKhongPhep">Nghỉ không phép</option>
            </select>
        </div>

        <div class="form-group">
            <label>Trạng thái</label>
            <select th:field="*{trangThai}" class="form-control">
                <option value="Duyet">Duyệt</option>
                <option value="KhongDuyet">Không duyệt</option>
                <option value="ChoDuyet">Chờ duyệt</option>
            </select>
        </div>

        <!--<div class="form-group">
            <label>Ghi chú</label>
            <input type="text" th:field="*{ghiChu}" class="form-control">
        </div>-->

        <br>
        <button type="submit" class="btn btn-primary">Lưu</button> <br>
        <p><a th:href = "@{/leaves/list}">Quay lại</a></p>
    </form>

</div>

</body>
</html>