<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

    <title>Thêm dự án</title>
</head>
<body>
<div class="container">
    <h2>Thêm dự án</h2>
    <hr>

    <!-- Add project form -->
    <form th:action="@{/projects/save}" th:object="${project}" method="post">
        <div class="form-group">
            <label>Tên dự án</label>
            <input type="text" th:field="*{tenDuAn}" class="form-control">
        </div>
        <p class="alert alert-danger" th:if="${#fields.hasErrors('tenDuAn')}" th:errors="*{tenDuAn}"></p>

        <div class="form-group">
            <label>Mô tả</label>
            <input type="text" th:field="*{moTa}" class="form-control">
        </div>
        <p class="alert alert-danger" th:if="${#fields.hasErrors('moTa')}" th:errors="*{moTa}"></p>

        <div class="form-group">
            <label>Ngày bắt đầu</label>
            <input type="date" th:field="*{ngayBatDau}" class="form-control">
        </div>
        <p class="alert alert-danger" th:if="${#fields.hasErrors('ngayBatDau')}" th:errors="*{ngayBatDau}"></p>

        <div class="form-group">
            <label>Ngày kết thúc</label>
            <input type="date" th:field="*{ngayKetThuc}" class="form-control">
        </div>
        <p class="alert alert-danger" th:if="${#fields.hasErrors('ngayKetThuc')}" th:errors="*{ngayKetThuc}"></p>

        <div class="form-group">
            <label>Phòng ban</label>
            <select th:field="*{department.maPB}" class="form-control">
                <option th:each="department : ${departments}"
                        th:value="${department.maPB}"
                        th:text="${department.tenPB}">
                </option>
            </select>
        </div>

        <div class="form-group">
            <label>Quản lí dự án</label>
            <select th:field="*{manager.id}" class="form-control">
                <option th:each="manager : ${managers}"
                        th:value="${manager.id}"
                        th:text="${manager.hoTen}">
                </option>
            </select>
        </div>

        <!-- Trạng thái -->
        <div class="form-group">
            <label>Trạng thái</label>
            <select th:field="*{trangThai}" class="form-control">
                <option value="ChuaBatDau">Chưa bắt đầu</option>
                <option value="DangThucHien">Đang thực hiện</option>
                <option value="DaHoanThanh">Đã hoàn thành</option>
                <option value="TamDung">Tạm dừng</option>
            </select>
        </div>

        <button type="submit" class="btn btn-primary">Lưu</button>
    </form>
    <!-- Return to the list of projects -->
    <a th:href = "@{/projects/list}">Quay lại</a>
</div>



</body>

</html>