<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

    <title>Cập nhật dự án</title>
</head>
<body>
<div class="container">
    <h2>Cập nhật dự án</h2>
    <hr>

    <form th:action="@{/projects/saveUpdate}" method="post">
        <input type="hidden" th:field="*{project.id}" class="form-control">

        <div class="form-group">
            <label>Tên dự án</label>
            <input type="text" th:field="*{project.tenDuAn}" class="form-control">
        </div>

        <div class="form-group">
            <label>Mô tả</label>
            <input type="text" th:field="*{project.moTa}" class="form-control">
        </div>

        <div class="form-group">
            <label>Ngày bắt đầu</label>
            <input type="date" th:field="*{project.ngayBatDau}" class="form-control">
        </div>

        <div class="form-group">
            <label>Ngày kết thúc</label>
            <input type="date" th:field="*{project.ngayKetThuc}" class="form-control">
        </div>

        <!-- Phòng ban -->
        <div class="form-group">
            <label>Phòng ban</label>
            <select th:field="*{project.department.maPB}" class="form-control">
                <option th:each="department : ${departments}"
                        th:value="${department.maPB}"
                        th:text="${department.tenPB}">
                </option>
            </select>
        </div>

        <!-- Quản lí dự án -->
        <div class="form-group">
            <label>Quản lí dự án</label>
            <select th:field="*{project.manager.id}" class="form-control">
                <option th:each="manager : ${managers}"
                        th:value="${manager.id}"
                        th:text="${manager.hoTen}">
                </option>
            </select>

        <!-- Trạng thái -->
        <div class="form-group">
            <label>Trạng thái</label>
            <select th:field="*{project.trangThai}" class="form-control">
                <option value="ChuaBatDau">Chưa bắt đầu</option>
                <option value="DangThucHien">Đang thực hiện</option>
                <option value="DaHoanThanh">Đã hoàn thành</option>
                <option value="TamDung">Tạm dừng</option>
            </select>
        </div>

        <button type="submit" class="btn btn-primary">Lưu</button>

        </div>
    </form>

    <!-- Return to the list of projects -->
    <a th:href = "@{/projects/list}">Quay lại</a>
</div>

</body>

</html>